.wrapper {
  display: flex;
  margin-top: 10px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  gap: 20px;
}

.jobCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 60px;
  margin-right: 65px;
}

@media (max-width: 1060px) {
  .filters {
    display: block;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    width: fit-content;
  }
}

@media (max-width: 320px) {
  .jobCardContainer {
      margin-left: 10px;
      margin-right: 10px;
      justify-content: center;
  }
}

